* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #a54d7d;
}

a {
  text-decoration: none;
  color: #bb4b96;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #a54d7d;
}

button {
  background-color: #a54d7d;
  border: 0;
  padding: 1%;
  color: #000000;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  background-color: #bb4b96;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 7px;
  border: 1px solid #c2b0ba;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #bb4b96;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 4%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #c2b0ba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #bb4b96;
}

.delete-post-btn {
  background-color: #da36a3;
}

.delete-post-btn:hover {
  background-color: #bb4b96;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #bcb8b1;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #c2b0ba;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #c2b0ba;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}